<aside class="sidebar">

    <!-- Brand -->

    <div class="sidebar-title">

        MENU

    </div>

    <!-- Main -->

    <ul class="sidebar-menu">

        <li>
            <a href="#" id="menuDashboard">
                <i class="bi bi-house-door"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="#" id="menuProfile">
                <i class="bi bi-person"></i>
                My Profile
            </a>
        </li>

        <li class="sidebar-header">

            Learning

        </li>

        <li>
            <a href="#" id="menuTraining">
                Training Records
            </a>
        </li>

        <li>
            <a href="#" id="menuHistory">
                Learning History
            </a>
        </li>

        <li>
            <a href="#" id="menuCertificates">
                Certificates
            </a>
        </li>

        <li>
            <a href="#" id="menuLNA">
                Learning Needs Assessment
            </a>
        </li>

        <li>
            <a href="#" id="menuNotifications">
                Notifications
            </a>
        </li>

        <li class="sidebar-header">

            Account

        </li>

        <li>
            <a href="#" id="menuEditProfile">

                Edit Profile

            </a>
        </li>

        <li>
            <a href="#" id="menuRequestStatus">

                Request Status

            </a>
        </li>

    </ul>

</aside>